.list-item {
    display: inline-block;
    width: calc(100% - 240px);
}

@media (max-width: 800px) {
    .list-item {
        display: block;
        width:100%;
    }

    .list-item-container {
        border-bottom: 1px solid;
        margin-bottom: 15px;
    }
}

.collapsed {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.visible {
    display: block;
    opacity: 1;
}

.clickable {
    cursor: pointer;
}

.new-present {
    margin-top: 15px;
}