.collapsed {
    display: none;
    transition: opacity 1s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.visible {
    display: block;
    opacity: 1;
}

.fill {
    flex: 1;
  }

.clickable {
    cursor: pointer;
}