<mat-card>
  <mat-card-header>
      <mat-card-title><b>My List</b></mat-card-title>
  </mat-card-header>
  <mat-card-content>
  <mat-list>
    <div *ngFor="let present of myPresents | async" class="list-item-container">
        <div class="list-item">
          {{present.description}}
        </div>
      <button *ngIf="present.ID != undefined" mat-button color="primary" (click)="editPresent(present)">Edit</button>
      <button *ngIf="present.ID != undefined" mat-button color="warn" style="margin-left:50px" (click)="removePresent(present.ID)">Remove</button>
    </div>
  </mat-list>
  <button mat-raised-button (click)="addPresent()">New Present</button>
</mat-card-content>
</mat-card>