.my-content {
    width: 85%;
}

.list-item {
    display: inline-block;
    width: calc(100% - 190px);
    margin-bottom: 10px;
}

.already-purchased {
    display:inline-block;
    margin-left:16px;
    margin-top:5px;
    margin-bottom:5px;
}

@media (max-width: 800px) {
    .list-item {
        display: block;
        width:100%;
    }

    .list-item-container {
        border-bottom: 1px solid;
        margin-bottom: 15px;
    }
}