<div class="wrapper">
<md-card class="center my-content upper-right-desktop">
  <md-card-header>
    <md-card-title><b>Follow Someone New:</b></md-card-title>
  </md-card-header>
  <md-card-content>
    <md-form-field style="width: 60%">
      <input mdInput placeholder="Email Address" [(ngModel)]="newFollowEmail">
    </md-form-field>
    <button md-button color="primary" style="margin-left:30px" (click)="followNew()">
      Follow
    </button>
  </md-card-content>
</md-card>
<md-card class="center my-content bottom-right-desktop">
    <md-card-header>
        <md-card-title><b>Following:</b></md-card-title>
    </md-card-header>
    <md-card-content>
    <div *ngIf="followersEmpty()" style="margin-left:30px">
      No one!
    </div>
    <md-list>
      <md-list-item *ngFor="let follow of following">
        {{follow.userName}}
        <button *ngIf="follow.ID != undefined" md-raised-button color="warn" style="margin-left:auto" (click)="removeFollower(follow)">
          Disconnect
        </button>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<app-my-presents-list class="center" style="width:92%">
</app-my-presents-list>

<md-card class="center my-content">
  <md-card-header>
    <md-card-title><b>Present for others:</b></md-card-title>
  </md-card-header>
  <md-card-content>

    <div *ngFor="let follower of followerPresents | async">
        <br/>
        <b>{{follower.name}}</b>
        <br/>
        <br/>
        <div>
            <div class="list-item-container" *ngFor="let present of follower.presents">
              <div class="list-item">
                <a [href]="present.url" target="_blank" *ngIf="presentHasLink(present)">
                  {{present.description}}
                </a>
                <span *ngIf="!presentHasLink(present) ">
                    {{present.description}}
                </span>
              </div>
              
              <button *ngIf="!present.purchased" md-button color="primary" (click)="markAsPurchased(present.presentId)" >Mark as Purchased</button>
              <button *ngIf="present.purchased && present.purchasedByMe" md-button color="primary" (click)="unmarkAsPurchased(present.presentId)">Mark as Not Purchased</button>
              <div *ngIf="present.purchased && !present.purchasedByMe" class="already-purchased">Already Purchased</div>
            </div>
        </div>
      </div>

  </md-card-content>
</md-card>
</div>