/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.center {
    margin-left:auto;
    margin-right:auto;
}
.login-card {
    width:40%;
}
.full-width {
    width: 100%;
}
body {
    margin: 0px;
    background-color: green;
}
