/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.center {
    margin-left:auto;
    margin-right:auto;
}
.login-card {
    width:40%;
}
.full-width {
    width: 100%;
}
body {
    margin: 0px;
    background-color: green;
}
.wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-auto-columns: minmax(20px, auto);
    grid-auto-rows: minmax(20px, auto); */
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.upper-right-desktop {
    grid-column-start: 2;
    grid-row-start: 1;
}

.bottom-right-desktop {
    grid-column-start: 2;
    grid-row-start: 2;
}

@media (max-width: 800px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 1fr 1fr 1fr; */
        /* grid-auto-columns: minmax(20px, auto);
        grid-auto-rows: minmax(20px, auto); */
        grid-row-gap: 10px;
        grid-column-gap: 10px;
    }
    
    .upper-right-desktop {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .bottom-right-desktop {
        grid-column-start: 1;
        grid-row-start: 2;
    }
}